<footer class="footer">
    <div class="footer__top">
       <div class="container">

            <div class="footer__top-box">
                <div class="footer__top-item">
                    <div class="footer__title">Intersted to woek with our team?</div>
                    <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <div class="footer__top-item btn--position">
                    <a class="btn__footer" href="#">Let’s Talk</a>
                </div>
            </div>

        </div><!-- ./container -->
    </div><!-- ./footer__top -->

    <hr class="footer__line">

    <div class="footer__boottom">
       <div class="container">
            <ul class="footer__contacts">
                <li class="footer__list">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li class="footer__list list__tablet--mtb">+7-812-7313-4321</li>
                <li class="footer__list">hello.site@gmail.com</li>
            </ul>

            <p class="footer__copy"> 2020 All rights reserved.</p>


        </div>
    </div>

</footer>
